.entire {
  padding-top: 120px;
}

.headMain {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headName {
  color: white;
}

.headIMG {
  margin-top: 20px;
}
