nav {
  color: #FFFFFF;
  width: 100%;
  height: 120px;
  padding-top: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

#navTitle {
  font-family: 'Bungee';
  float: left;
  padding-top: 1.5em;
  padding-left: 1.5em;
}

.navNew {
  float: right;
  padding-right: 1.5em;
}

.fa-solid {
  color: red;
}