/*CSS page for the newTweet form*/
#compTweet {
  font-size: large;
}

#tweetText {
  width: 100%;
  background-color: transparent;
  border-width: 0 0 3px;
  outline: none;
}

#tweetButton {
  font-family: "Bungee";
  background-color: #4f5d75;
  color: white;
  border-color: transparent;
}

#tweetButton:hover {
  cursor: pointer;
}

.counter {
  float: right;
  font-family: "Bungee";
  color: black;
}

.errorMain {
  color: red;
  margin-top: 20px;
  padding: 20px;
  border-style: solid;
  border-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error .fa-solid {
  padding: 0 10px 0 10px;
}
