.tweetBody:hover {
  box-shadow: 10px 5px 5px silver;
}

.tweetBody {
  width: 100%;
  margin: 1.5em 0 1.5em 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.tweetHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.imgName {
  display: flex;
  justify-items: center;
  margin: .5em 0 0 1em;
}

.userHandle {
  float: right;
  color: silver;
  margin: 1.5em 1.5em 0 0;
}

.tweetContent {
  padding-left: 1em;
  font-weight: bold;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.tweetFooter {
  margin: 0 .5em 0 .5em;
  height: 1.2em;
  border-style: solid;
  border-width: 2px 0 0 0;
}

.tweetShare {
  float: right;
  color: #4056A1;
  margin-right: .5em;
}

.tweetShare .fa-solid {
  color: #4056A1;
  cursor: pointer;
}

.tweetShare .fa-solid:hover {
  color: goldenrod;
}

.tweetDate {
  margin-left: .5em;
  font-size: 15px;
}

.userName {
  margin-left: 10px;
}